.project-list {
  .list-group-item {
    cursor: pointer;
    position: relative;

    &.active {
      a {
        color: #fff;
      }
    }

    .delete-project {
      float: right;
    }

    .todo-total {
      position: absolute;
      right: 35px;
    }
  }
}

.glyphicon-plus {
  font-size: 24px;
}
