<h2 class="text-uppercase">List project
  <a href="#" ng-click="addProject()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</h2>

<div class="content">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="project in projects"
        ng-class="{'active': activeProject === project}"
        ng-click="selectProject(project)">
      {{ project.name }}
      <span class="todo-total badge">{{ project.totalTodo }}</span>
      <a href="#" class="delete-project" ng-click="deleteProject(project)">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </li>
  </ul>
</div>
