<div class="modal-header">
  <h4 class="modal-title text-uppercase">Add new project</h4>
</div>

<form name="projectForm">
  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon">Project name</span>
      <input type="text" class="form-control" placeholder="Project name" aria-describedby="basic-addon" name="projectName" ng-model="projectName" />
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-success" ng-click="saveProject()">Add</button>
    <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
