<h2 class="text-uppercase"  ng-if="projects.length != 0">List todos
  <a href="#" ng-click="addTodo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</h2>

<ul class="list-group todo-list">
  <li class="list-group-item" ng-repeat="todo in todos">
    <div class="checkbox-status">
      <input type="checkbox" id="rounded{{$index}}"
             name="check"
             ng-model="todo.status"
             ng-change="toggleStatus(todo)">
      <label class="label-status" for="rounded{{$index}}"></label>
    </div>

    <button type="button"
            class="btn btn-default btn-edit"
            ng-click="toggleEditMode($index)"
            ng-hide="isEdit === $index">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button type="button"
            class="btn btn-default btn-danger btn-remove"
            ng-click="deleteTodo(todo._id)">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

    <label class="text-captilize" ng-hide="isEdit === $index">{{ todo.content }}</label>

    <form name="editTodoForm" class="edit-todo-form" ng-show="isEdit === $index">
      <div class="input-group">
        <input type="text" class="form-control"
               placeholder="To do content"
               ng-model="todo.content" />
        <span class="input-group-btn">
          <button class="btn btn-success" type="button"
                  ng-click="editTodo(todo)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </span>
      </div>
    </form>

    <div class="clearfix"></div>
  </li>
</ul>
